{% extends "base.html" %} {% block content %}

<div class="container-sm mx-auto py-4">
  <div class="w-50 mx-auto">
    <h2 class="text-center">Add to your pack</h2>
    <form method="post" enctype="multipart/form-data">
      {{form.hidden_tag()}}
    
      <p class="form-floating">
        {{ form.image(class="form-control", id_="image")}}<br />
        {{ form.image.label(class_="text-primary", for_="image")}}<br />
        {% for error in form.image.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
      </p>

      <p class="form-floating">
        {{ form.name(size=32, class_="form-control",id_="name") }}<br />
        {{ form.name.label(class_="text-primary", for_="name") }}<br />
        {%for error in form.name.errors%}
        <span style="color: red"> {{error}}</span>
        {%endfor%}
      <p>{{form.submit()}}</p>
    </form>
  </div>
</div>

{% endblock content %}
